# output = "/srv"
output = "output"
# repo_source = "wiki"
# wiki_url = "fedoraproject.org"
repo_source = "file"
repo_list = "repos.txt"

# Mark tickets as old or very old after these many days without an update
old_days = 365
very_old_days = 365 * 3

[github]
username = "yourgithubusername"
api_key = "your-api-key"

[cache]
backend = "dogpile.cache.dbm"
expiration_time = 3600
arguments = {"filename" = "cache.dbm"}
